.App {
  text-align: center;
}

nav a {
  color: blue;
  padding: 10px;
  margin: 5px;
}

nav a:visited {
  color: purple;
}

/* ============================== Progress Bar ================================== */

.progress-bar-wrapper {
  height: 4px;
  width: 100%;
  background-color: #a3a3a3;
}

.progress-bar {
  height: 4px;
  background-color: blue;
}

/* ============================== Spinner ================================== */

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
